.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  text-align: left;
}

.thead th {
  padding: 14px;
}

.table td {
  padding: 8px 14px;
}

.table tr {
  height: 60px;
}

.tbody tr:nth-child(odd) {
  background-color: #343c5a;
}

.tbody {
  overflow-y: auto;
}

.tableWrapper {
  overflow-x: auto;
}

@media only screen and (max-width: 600px) {
  .table tr {
    height: 44px;
  }
  .table td {
    padding: 8px 10px;
  }
  .table {
    font-size: 14px;
  }
}
