.table {
  width: 100%;
  border-collapse: collapse;
}

.thead {
  text-align: left;
}

.thead th {
  padding: 14px;
}

.table td {
  padding: 8px 14px;
}

.tbody tr:nth-child(odd) {
  background-color: antiquewhite;
}

.tbody {
  overflow-y: auto;
}

.tableWrapper {
  overflow-x: auto;
}
