.container {
  width: 168px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.date {
  align-items: center;
  text-align: center;
}

.button {
  border-radius: 20px;
  background-color: #f69e7b;
  color: #383e56;
  width: 32px;
  height: 32px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  font-weight: 900;
}

.buttonLeft {
  padding-right: 10px;
}
.buttonRight {
  padding-left: 10px;
}

.button:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .button {
    width: 28px;
    height: 28px;
  }
  .container {
    width: 150px;
  }
}
