.container {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  align-items: center;
  text-align: center;
}

/* background-color: #383e56;
color: #eedad1; */
.button {
  border-radius: 10px;
  background-color: #f69e7b;
  color: #383e56;
  width: 40px;
  height: 40px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  font-weight: 900;
}

.buttonLeft {
  padding-right: 10px;
}
.buttonRight {
  padding-left: 10px;
}

.button:hover {
  opacity: 1;
}
