.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px 10px 20px;
  background-color: #383e56;
  color: #f69e7b;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 20px 16px 10px 16px;
  }
}
