.teamContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid #eedad1;
}
.itemContainer:last-child {
  border-bottom: none;
}

.scheduleListContainer {
  border: 1px solid #eedad1;
}
.scheduleList {
  overflow: auto;
}

.timeContainer {
  width: 120px;
  text-align: end;
  align-self: center;
}

.teamsContainer {
  width: 100%;
}
